In [1]:
# Import Dependencies and setup
import pandas as pd
import os

In [39]:
# read csv output from Instagrapy_split_text.ipynb
df=pd.read_csv("../../resources/ig_datascrape_jc_2021-08-25.csv", encoding="ISO 8859-1")
df.head(2)

,Unnamed: 0,Unnamed: 0.1,author,shortcode,timestamp,likes,comments,caption,text,Hash_tag2
0,0,0,shmee150,CSzoxcyrzj2,1629485286,19080,49,"Photo shared by Tim - Shmee on August 20, 2021...",Back at the wheel of an SF90! With @bannedauto...,"[['Ferrari'], ['SF90'], ['futureshmeemobile'],..."
1,1,1,shmee150,CSr2jQPjy59,1629224075,22143,100,"Photo shared by Tim - Shmee on August 17, 2021...",It's a P1 kinda day! Out for a drive in @super...,"[['McLaren'], ['P1'], ['McLarenP1'], ['testdri..."

In [40]:
# remove unneccessary columns
df =df.drop(['Unnamed: 0','Unnamed: 0.1'], axis=1)

In [41]:
df.head()

,author,shortcode,timestamp,likes,comments,caption,text,Hash_tag2
0,shmee150,CSzoxcyrzj2,1629485286,19080,49,"Photo shared by Tim - Shmee on August 20, 2021...",Back at the wheel of an SF90! With @bannedauto...,"[['Ferrari'], ['SF90'], ['futureshmeemobile'],..."
1,shmee150,CSr2jQPjy59,1629224075,22143,100,"Photo shared by Tim - Shmee on August 17, 2021...",It's a P1 kinda day! Out for a drive in @super...,"[['McLaren'], ['P1'], ['McLarenP1'], ['testdri..."
2,shmee150,CSpWzdxJIIV,1629140321,21606,130,"Photo shared by Tim - Shmee on August 16, 2021...",The beautiful 300SL Roadster is without a shad...,"[['Mercedes'], ['300SL'], ['PebbleBeach'], ['C..."
3,shmee150,CSkdxyJAk2n,1628976206,30069,113,"Photo shared by Tim - Shmee on August 14, 2021...",The breathtaking @bugatti Bolide at @thequaile...,"[['Bugatti'], ['Bolide'], ['Quail'], ['CarWeek..."
4,shmee150,CSfHSEzi3BD,1628796639,34073,140,"Photo shared by Tim - Shmee on August 12, 2021...",The new @astonmartinlagonda Valkyrie Spider ha...,"[['AstonMartin'], ['Valkyrie'], ['ValkyrieSpid..."

In [71]:
df=df[['author','text','Hash_tag2']]
# group by author

# # force change, of specified column type, to string.
df.text = df.text.astype('string')
df.Hash_tag2 = df.Hash_tag2.astype('string')


gbdf=df.groupby('author').agg({'Hash_tag2': lambda x: ' '.join(x)})
gbdf[""]

                                                        Hash_tag2
author
Jaclynhill                    [] [] [] [] [] [] [] [] [] [] [] []
diwd_official                 [] [] [] [] [] [] [] [] [] [] [] []
garyvee                        [] [] [['OverRatedUnderRated']] []
glamlifeguru    [] [] [['bitebeautypartner'], ['powermovelipst...
hudabeauty      [['savelebanonÃ'], ['saveafghanistanÃ'], ['h...
jamescharles    [] [] [] [] [] [] [] [['makeup'], ['transition...
rclbeauty101    [] [] [] [] [] [] [] [] [['SKG'], ['SKGF5'], [...
shmee150        [['Ferrari'], ['SF90'], ['futureshmeemobile'],...
thatdudeinblue  [['lambo'], ['twinturbo'], ['tt'], ['ttlambo']...
thesmokingtire                [] [] [] [] [] [] [] [] [] [] [] []